div.work {
    width: 700px;
}
div.pb {
    clear: both;
}
span.spacer {
    display: inline-block;
    width: 330px;
}
p.pagenumber {
    text-align: center;
}
img.facs {
    float: right;
    width: 300px;
    height: 540px;
    margin: 16px;
}
ul.toc {
    list-style: none;
}
ul.toc li {
    text-indent: -1em;
    padding-left: 1em;
}